@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.wrapper {
	min-height: 100%;
	overflow: hidden;
	margin: 20px auto;
	width: 380px;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: #424551;
}

.headline1 {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.5;
	color: #1e212c;
	margin-bottom: 8px;
}
.headline2 {
	font-weight: 900;
	font-size: 46px;
	letter-spacing: 1px;
	line-height: 1.3;
	color: #1e212c;
	margin-bottom: 40px;
}
.block-list li {
	line-height: 1.6;
	margin-bottom: 12px;
	padding-left: 28px;
}
.block-list li:hover {
	color: #040407;
	text-shadow: 0px 0px 20px #424551;
}

.list::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../imeg/main7/Vector.png") 0 3px / 13px no-repeat;
	margin: 0px 10px 0px -26px;
}
.block-list li:hover::before {
	transform: scale(1.2);
}

.block-list li:last-child {
	margin-bottom: 0;
}

.knopka {
	color: #ffffff;
	padding: 14px 0px;
	font-size: 14px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin: 22px 0px 0px 0px;
	height: 44px;
	width: 161px;
	background-color: #ff3f3a;
	border-radius: 4px;
}

.knopka:hover {
	background-color: #f75e05;
	cursor: pointer;
}

.knopka:active {
	margin: 25px 0px 0px 0px;
	box-shadow: 2px 2px 1px #040407;
	box-shadow: inset 0 0 5px #040407;
}
